$primary: #ff450d;
$secondary: #3e3e3e;
// $body-background-color: #f4f8fb;

$navbar-item-img-max-height: 45px;
$navbar-item-hover-color: $primary;
$navbar-tab-hover-border-bottom-color: $primary;
$navbar-tab-active-color: $primary;
$navbar-dropdown-arrow: $primary;
