$primary: #ff450d;
$secondary: #3e3e3e;
$danger: #3e3e3e;

$navbar-item-img-max-height: 45px;
$navbar-item-hover-color: $primary;
$navbar-tab-hover-border-bottom-color: $primary;
$navbar-tab-active-color: $primary;
$navbar-dropdown-arrow: $primary;
$navbar-dropdown-item-hover-color: $primary;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-item-hover-background-color: transparent;
$navbar-dropdown-border-top: 1px solid $primary;
$input-focus-border-color: $primary;
$input-focus-box-shadow-color: rgba($primary, 0.25);
$input-arrow: $primary;
$card-content-padding: 1rem;
$breadcrumb-item-color: $primary;
